.ContentBody {
  color: #333;
}
.ContentBody a:hover, .ContentBody a:focus {
  color: #44a8dc;
}
.ContentBody a:active {
  color: #1d719d;
}
.ContentBody button,
.ContentBody .btn,
.ContentBody [class*="btn"] {
  background-color: #2590c8;
  color: white;
}
.ContentBody button a,
.ContentBody .btn a,
.ContentBody [class*="btn"] a {
  color: white;
}
.ContentBody button:hover, .ContentBody button:focus,
.ContentBody .btn:hover,
.ContentBody .btn:focus,
.ContentBody [class*="btn"]:hover,
.ContentBody [class*="btn"]:focus {
  background-color: #44a8dc;
  color: white;
}
.ContentBody button.active,
.ContentBody .btn.active,
.ContentBody [class*="btn"].active {
  background-color: #196287;
}
.ContentBody .btn-outline {
  border-color: #CCC;
}
.ContentBody .btn-primary {
  background-color: #2590c8;
}
.ContentBody .btn-primary:hover, .ContentBody .btn-primary:focus {
  background-color: #44a8dc;
}
.ContentBody .btn-primary.active {
  background-color: #196287;
}
.ContentBody .btn-secondary {
  background-color: #72B4DB;
}
.ContentBody .btn-secondary:hover, .ContentBody .btn-secondary:focus {
  background-color: #9bcae5;
}
.ContentBody .btn-secondary:active {
  background-color: #499ed1;
}
.ContentBody .nav-collapse > ul > li a {
  background-color: #EEE;
  color: #333;
}
.ContentBody .nav-collapse .sub-menu > li > a {
  background-color: #E1E1E1;
}
.ContentBody .nav-collapse .sub-menu li > a {
  background-color: #2590c8;
  color: white;
}
.ContentBody .nav-collapse .sub-menu li:hover > a {
  background-color: #1671a0;
}
.ContentBody .nav-collapse .sub-menu .dropdown-toggle {
  background-color: #C9C9C9;
}
.ContentBody .nav-collapse .sub-menu .dropdown-toggle.toggled {
  background-color: #AAA;
}
.ContentBody .nav-collapse .sub-menu .dropdown-toggle.toggled {
  background-color: #CCC;
}
.ContentBody .nav-collapse .sub-menu .active a {
  color: #222;
}
@media (max-width: 800px) {
  .ContentBody .dropdown-toggle {
    background-color: #CCC;
  }
  .ContentBody .dropdown-toggle:hover, .ContentBody .dropdown-toggle:focus, .ContentBody .dropdown-toggle:active {
    background-color: #DDD;
  }
  .ContentBody .dropdown-toggle.toggled {
    background-color: #D9D9D9;
  }
}
.ContentBody .nav-toggle:before {
  background: #DDD;
  color: #667;
}
.ContentBody .nav-toggle.active {
  width: 100%;
}
.ContentBody .nav-toggle.active:before {
  background: #EEE;
  color: darkRed;
}
@media (min-width: 800px) {
  .ContentBody .nav-collapse > ul > li > a {
    background: none;
  }
}
.ContentBody .sidebar-main {
  background-color: #EEE;
}
.ContentBody .site-footer {
  background-color: #1671a0;
  color: white;
}
.ContentBody .site-footer a {
  color: white;
}
.ContentBody .site-footer .icon {
  fill: white;
}
.ContentBody .site-footer [class*="-zone"]:nth-child(3) {
  background-color: #105578;
}
.ContentBody .site-copyright {
  background-color: #1B8DC8;
  color: white;
}
.ContentBody .CTA-row {
  background-color: #EEE;
}
.ContentBody .feature-media-detail {
  background-color: #1671a0;
  color: white;
}
.ContentBody .feature-media-detail [class*="-title"],
.ContentBody .feature-media-detail [class*="-subtitle"],
.ContentBody .feature-media-detail [class*="-text"] {
  color: inherit !important;
}
.ContentBody .feature-media-detail a {
  color: white;
}
.ContentBody .feature-media-detail.light {
  background-color: #c5e4f4;
  color: #105578;
}
.ContentBody .feature-media-detail.light a:not([class*="btn"]) {
  color: #105578;
}
.ContentBody .hero-banner {
  background-color: #CCC;
}
.ContentBody .hero-banner [class*="-title"],
.ContentBody .hero-banner [class*="-subtitle"],
.ContentBody .hero-banner [class*="-text"] {
  color: inherit !important;
}
.ContentBody .contact-banner {
  color: white;
}
.ContentBody .contact-banner [class*="-title"],
.ContentBody .contact-banner [class*="-subtitle"],
.ContentBody .contact-banner [class*="-text"] {
  color: inherit !important;
}
.ContentBody .contact-banner a {
  color: white;
}
.ContentBody .soc-media-icons a {
  color: #2590c8;
}
